body {
    margin: 0;     
    padding: 0;
    background-color: #d6f4ff;
    font-family: 'Montserrat', sans-serif;
  }

.notification {
    background-color: #f0f9ff;
    border: 1px solid #33B5E5;
    color: #002244;
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: fit-content;
    border-radius: 4px;
  }
    
  button.added {
    background-color: #0288D1;
    transition: background-color 0.3s ease;
  }